version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: marketplace-postgres
    ports:
      - '5437:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: marketplace
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - marketplace-network

  redis:
    image: redis:7-alpine
    container_name: marketplace-redis
    ports:
      - '6379:6379'
    networks:
      - marketplace-network

networks:
  marketplace-network:
    driver: bridge

volumes:
  postgres_data:
